.*~
*.md~
Gaussian-elimination/*.c~
HebbianLearning/*.c~
MainElement-elimination/*.c~
queue/*.c~
stack/*.c~
heapsort/*.c~
heapsort/*.h~
heapsort/*.o
heapsort/*~
quicksort/*~
quicksort/*.c~
quicksort/*.h~
quicksort/*.o
